<!-- <!-- footer start
<div class="footerContainer">
  <div class="footer"> <a href="#" class="footerLogo"><img src="assets/footerLogo.png" alt="" /></a>

    <p class="footerPhone"><span>Toll Free: </span><span>1-800-456-8899</span></p>
    <ul class="footerMenu">
      <li><a href="/">Home</a></li>
      <li><%= link_to "About Us".html_safe, about_path %></li>
      <li><%= link_to "Services".html_safe, services_path %></li>
      <li><%= link_to "Bus Listings".html_safe, listings_path %></li>
	  <li><%= link_to "Submit A Vehicle".html_safe, submit_vehicle_path %></li>
	  <li><%= link_to "Contact Us".html_safe, contact_path %></li>
      <li><%= link_to "Submit A Vehicle".html_safe, submit_vehicle_path %></li>
    </ul>
  </div>
  <div class="copyright">
    <p class="copyrightText">System 2 Buses &copy; 2010 &nbsp;|&nbsp; <a href=""> Privacy Policy</a></p>

    <a href="" class="designerInfo"><img src="assets/designerLogo.jpg" alt=""/></a> </div>
</div>
<!-- footer end -->

<!-- footer start -->
<div class="footerContainer">
  <div class="footer">
  <div id="footer_info">
<div id="footer_logo"><a href="listings.html" ><img src="/assets/busfooter_logo.png" alt="Footer Logo" width="230" height="94" /></a><br/>
</div>
<div id="footer_menu"> 
 
  <ul class="footer_list1">
    <li><a href="listings.html">Shuttle Buses</a></li>
    <li><a href="listings.html">Limo Buses</a></li>
    <li><a href="listings.html">Paratransit Buses </a></li>
    <li><a href="listings.html">School Buses</a></li>
    <li><a href="listings.html">City Transit Buses</a></li>
    <li><a href="listings.html">Trolley Buses</a></li>
    <li><a href="contact.html">Buy A Bus</a></li>
    <li><a href="contact.html">Sell A Bus</a></li>
    <li><a href="listings.html">Bus Listings</a></li>
  </ul>
  
   <ul class="footer_list1">
    <li><a href="listings.html">New Flyer</a></li>
    <li><a href="listings.html">Optima</a></li>
    <li><a href="listings.html">Orion</a></li>
    <li><a href="listings.html">Prevost</a></li>
    <li><a href="listings.html">Setra</a></li>
    <li><a href="listings.html">Spartan</a></li>
    <li><a href="listings.html">Stallion</a></li>
    <li><a href="listings.html">Starcraft</a></li>
    <li><a href="listings.html">Startrans</a></li>
    </ul>
  
  <ul class="footer_list1">
   <li><a href="listings.html">Falcon<br />
      </a></li>
    <li><a href="listings.html">Federal Coach</a></li>
    <li><a href="listings.html">Ford Vans</a></li>
    <li><a href="listings.html">Girardin</a></li>
    <li><a href="listings.html">Glaval</a></li>
    <li><a href="listings.html">Goshen Coach</a></li>
    <li><a href="listings.html">IC Bus</a></li>
     <li><a href="listings.html">Krystal Enterprises</a></li>
    <li><a href="listings.html">NABI</a></li>
  </ul>
  
  <ul class="footer_list1">
    <li><a href="listings.html">Ameritrans</a></li>
    <li><a href="listings.html">Arboc</a></li>
    <li><a href="listings.html">Blue Bird</a></li>
    <li><a href="listings.html">Braun Vans</a></li>
    <li><a href="listings.html">Chevrolet Vans</a></li>
    <li><a href="listings.html">Chrysler Vans</a></li>
    <li><a href="listings.html">COBUS</a></li>
    <li><a href="listings.html">Collins</a></li>
    <li><a href="listings.html">Eldorado</a></li>
  </ul>
</div>
<div id="footer_features">
<span class="footer_titles">Contact and Support:<br/>
</span>
<span class="footer_contact">1-800-456-8899<br/> 
<a href="mailto:support@shopbuses.com" class="footer_email">support@shopbuses.com</a><br/>
<br/>
</span>
<hr />

<span class="footer_titles">Sales and Support:<br/></span>
<span class="footer_contact">1-800-456-8899<br/> 
<a href="mailto:sales@shopbuses.com" class="footer_email">sales@shopbuses.com</a><br/>
<br/>
<u><a href="submit_vehicle.html" class="footer_email">Submit A Vehicle</a></u></span>
</div>
<div id="footer_created"><span class="copyright">Copyright © 2012. SHOP BUSES.COM. All Rights Reserved</span><span class="credit_text"><a href="http://www.liquidchrome.net" target="_blank"><img src="/assets/liquidchrome-design-logo.png" alt="Created by Liquidchrome Design Inc." width="23" height="24" border="0" /> Created By Liquidchrome Design Inc.</a></span> </div>
</div>
  </div>
</div>
<!-- footer end -->