	 <div class="contentTable">
	  <table width="100%">
	   <tr class="tableTop">
	<td colspan="15">
	    <div class="tableTopHeader">                            
	        <span>Latest 5 Sold</span>
	
	        <div class="clear"></div>
	    </div>
	    <div class="headerDivider"></div>
	</td>
	
	</tr>
	<% if @inventory.count == 0 %>
	<tr>
		<td><h2>No records here...</h2></td>
	</tr>
	<% else %>
	<tr class="bus_row">
	
		<th class="actions_col" width="5%" ><a href="#">Actions</a></th>
		<th width="5%">ID</th>
		<th width="10%">Stock ID</th>
		<th width="10%">Status</th>
		<th width="15%">Sold Date</th>
		<th width="40%">Sold Price</th>
	</tr>
	<% @inventory.each do |inventory| %>
	<tr>
	
	<td class="actions">
          <%if current_user.class != User or (current_user.class == User and current_user.permission and ((current_user.permission.permission == "full_permission") or (current_user.permission.permission == "set_permission" and current_user.permission.ability_delete)))%>
	    <%= link_to image_tag("/assets/admin/icons/action4.png"), admin_inventory_path(inventory.id), method: :delete, :alt => "Delete This Inventory", :confirm => "Are you sure you want to delete this Inventory?" %>
           <%else%>
              <a href="/assets/admin/denied.jpg" rel="facebox">
                <%= image_tag("/assets/admin/icons/action4.png") %>
              </a>
            <%end%>
	</td>
		<td><%= link_to inventory.id, edit_admin_inventory_path(inventory.id) %></td>	
		<td><%= inventory.stock_id %></td>
		<td><%= image_tag("admin/icons/"+inventory.status_image, :alt => "Inventory") %>
		<td><%= inventory.sold_date.to_s[0,16] %></td>
		<td><%= number_to_currency(inventory.sold_price) %></td>
	</tr>
	<% end %>
	<% end %>
	   </table>
	  </div>