<%= image_tag('mainLogo.png')%>

<p>Hello Admin!</p>

<p>The following user just inquired about contacting on the website! </p>

<p>Here are the Visitor Details:</p>
<p>Full Name: <%= @user.name %> </p>
<p>Email: <%= @user.email %></p>
<p>Comment: <%= @user.phone %></p>
<p>Comment: <%= @user.comments %></p>
